fastapi==0.135.1
uvicorn[standard]==0.41.0
SQLAlchemy==2.0.47
Jinja2==3.1.6
python-multipart==0.0.22
pandas==3.0.1
openpyxl==3.1.5
psycopg2-binary==2.9.11
passlib[bcrypt]==1.7.4
bcrypt==5.0.0
itsdangerous==2.2.0
httpx==0.28.1
pywebpush==2.3.0
twilio==9.10.5
Pillow==12.2.0
